/ {
    
    macros {
        mc01ps1: mc01ps1 {
            label = "ZM_mc01_psc01";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <50>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp I>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp C &kp A &kp N &kp D &kp O &kp T &kp H &kp I &kp S &kp N0 &kp EXCL &kp EXCL>
                ;
        };

        mc01ps2: mc01ps2 {
            label = "ZM_mc01_psc02";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <50>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp I &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp A &kp N &kp D &kp O &kp T &kp H &kp I &kp S &kp N0 &kp EXCL &kp EXCL>
                ;
        };

        mc01ps3: mc01ps3 {
            label = "ZM_mc01_psc03";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <50>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp I &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp A &kp N &kp D &kp O &kp N0 &kp EXCL &kp EXCL>
                ;
        };

        mc02scre: mc02scre {
            label = "ZM_mc02_scre";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp R>
                , <&macro_release &kp LGUI>
                , <&macro_tap &kp R &kp E &kp SPACE>
                ;
        };

        mc02sc01: mc02sc01 {
            label = "ZM_mc02_sc01";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp S &kp P>
                , <&macro_tap &kp ENTER>
                ;
        };

        mc02sc11: mc02sc11 {
            label = "ZM_mc02_sc11";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp S &kp Q>
                , <&macro_tap &kp ENTER>
                ;
        };

         mc02sc21: mc02sc21 {
            label = "ZM_mc02_sc21";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp S &kp W>
                , <&macro_tap &kp ENTER>
                ;
        };

        mc02sc02: mc02sc02 {
            label = "ZM_mc02_sc02";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp C &kp P>
                , <&macro_tap &kp ENTER>
                ;
        };

        mc02sc12: mc02sc12 {
            label = "ZM_mc02_sc12";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp C &kp Q>
                , <&macro_tap &kp ENTER>
                ;
        };

        mc02sc22: mc02sc22 {
            label = "ZM_mc02_sc22";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <30>;
            bindings
                =  <&mc02scre>
                , <&macro_tap &kp C &kp C &kp W>
                , <&macro_tap &kp ENTER>
                ;
        };
    };
    };
};